
body{
    background-image:url("../imagenes/Register.png");
    display: flex;
    height:100vh;
    width:100vw;
    overflow:hidden;
  
}
.img-skating{
    width:20%;
    height: 20%;
}

.img-google{
    width: 5%;
    height: 5%;
}

