.title{
    font-family: 'Bowlby One SC', cursive;
    font-size: 11vw;
}

body{
    background-image:url("../imagenes/Register.png");
    display: flex;
    height:100vh;
    width:100vw;
    overflow:hidden;
  
}
.img-skating{
    width:100%;
    height: 80%;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-bottom:0;
    margin: top 0%;
    
}

.img-google{
    width: 5%;
    height: 5%;
}

/*width:uvw uvh    */


.login-page{
   height: 100vh;
   /*grid-template-columns: 20% 20% 20% 20%;*/
   align-content: space-around;    
   
}

.header{
    position: top;
    margin-top: 1%;
    font-size:180%;
    color:white;
}

h1{
    font-size:180%;
    color:white;
    text-align: left;
    display:flex;
    margin-top: 5%;
    font-size:350%;
    flex-direction:row;
    gap: 50%;

}

.login-user{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top:10px;
}

.buttonRegister{
    width: 89vw;
    height: 8vh;
    border: none;
    border-radius: 89px;
    background-color:rgba(100, 130, 244, 1);
    margin-top:5%;
    font-size:450%;
    color: rgba(255, 255, 255, 1);
 
}
.button-login{
    width: 89vw;
    height: 8vh;
    border: none;
    border-radius: 89px;
    background-color:rgba(100, 130, 244, 1);
    margin-top:5%;
    font-size:450%;
    color: rgba(255, 255, 255, 1);
}

.form-section {
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 90vh;
    border-radius: 90px;
    border:none;
    padding-top:2%;
    justify-content:baseline;
 
}

.login-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95vw;
    height: 8vh;
    border: none;
    border-radius: 70px;
    background-color:rgba(210, 219, 252, 1);
    justify-content: center;
    /* margin: 10px; */
    /*margin-left: 7%;*/
    margin-top: 5%;
    font-size:350%;
    text-align:center;
}
    
    .buttonRegister:hover{
        color:lightsteelblue;
        width: 87vw;
        height: 7vh;
    }

nav {
    display: none;
}
       
.button-google{
    border: none;
    background-color:rgba(255, 255, 255, 1);
    font-size:120%;
    text-decoration-color: rgba(210, 219, 252, 1);
    margin-bottom: 6%;
    margin-top: 6%;
}

.img-google{
    width: 5vw;
    height: 4vh;
}

.terms{
    margin-top: 3%;
    font-size: 450%;
}

.link-newAccount{
font-size: 450%;
}

.login-google {
    margin-top: 6%;
}
/*.menu-icon{
text-align: right;
}*/