.title{
    font-family: 'Bowlby One SC', cursive;
    font-size: 11vw;
}

body{
    background-image:url("../imagenes/Register.png");
    display: flex;
    height:100vh;
    width:100vw;
    overflow:hidden;
  
}
.img-skating{
    width:100%;
    height: 100%;
}

.img-google{
    width: 5%;
    height: 5%;
}

/*width:uvw uvh    */


.login-page{
   height: 100vh;
   /*grid-template-columns: 20% 20% 20% 20%;*/
   align-content: space-around;    
   
}

.header{
    position: top;
    margin-top: 1%;
}
