.postContainer{
    background-color:white;
    padding:5%;
    width:80%;
    border-color:black;
    border:30px;
    height:30%;
    margin-top: 3%;
    border-radius: 15px;
    font-size: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-left:0%;
    
    

}
.wallPosts{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    height: 60vh;
    border:10px;
    width:150%;

}

.wallPostsContainer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    display:flex;
    overflow: scroll;
    height: 60vh;
    margin: 5% 10% 0 10%;
    width:100%;
    padding:1%;
}
.postUserMenu{
    display:flex;
    flex-direction:row;
}
.img-user2-p{
    display:flex;
    flex-direction: row;
    margin-top:-15%;
}

.delete-edit{
    margin-left: 60%;
    margin-top: -32%;
    margin-bottom: 30%;
    width:20%;
    display: flex;
    flex-direction: row;
}
.edit-post,.delete-post{
   width: 40%;
   gap:2%;
 
}

.btn-pencil, .btn-trash{
  background: none;
  border:none;
}


.review-post2{
    border:none;
    width:70%;
    height:40%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-top:2%;
}
.buttons{
    margin-top:-10%;
    width:8%;
    margin-left:80%;
}
.btn-like{
    margin-top: 85%;
    background: none;
    border:none;
}

.btn-save{
    display: none;
}