
/*General*/

@media (min-width: 1200px){
    .title{
        font-family: 'Bowlby One SC', cursive;
        font-size: 5vw;
        margin-left: 10%;
        margin-top: 2%;
        
    }
    .title-menu{
      display: flex;
      width: 100%;
      flex-direction: row;
      margin: auto;
      background-size: cover;
    }

    .titleContainer{
        width: 70%;
    }

    .homeContainer{
        width: 50%;
        

    }
    .menu-icon{
        width: 10%;
        margin-right: -20%;
    }
   


    body{
         background-image:url("../imagenes/macbook.png");
         background-size: cover;
    }
   
   
}

/* Página de bienvenida */

@media (min-width: 1200px){
   
    .welcome{
        display: flex;
        flex-direction: row;
        padding: 5%;
        gap: 2%;
     }

    .img-section{
        width: 100%;
        margin-left: -10%;
        margin-top: -5%;

    }
    
    .img-dancing {
        margin-top: 10%;
        width: 70%;
        padding-left: 5%; 
        width: 75%;     
    }

    .paragraph{
        color:rgba(255, 255, 255, 1);
        width: 100%;
        font-size:250%;
    }

    
    .welcome-section {
        margin-top: 10%;
        text-align: center;
        justify-content:center;
        align-items: center; 
        width: 50%;
        gap:10%; 
        font-size:100%;
        margin-right: 4%;
        
    } 

    #get-into{
       
        width:30vw;
        height:8vh;
        font-size:100%;
        margin-top:20%; 
    }

    /* Login */


    .loginContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 5%;
        gap: 2%;
        margin-top: -5%;
    }

    .img-section{
        width: 100%;
        margin-left: -10%;
        margin-top: -5%;

    }
  
    .img-skating{
        margin-top: 10%;
        width: 70%;
        padding-left: 5%; 
        width: 75%;    
    }

    .form-section{
        width: 50%;
        height: 30vw;
        border-radius: 40px;
        padding-top: 1%;
    }

   
    .login-input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        height: 8vh;
        margin-top: 5%;
        font-size:80%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        border-radius: 18px; 
    }
    ::placeholder{
        color: #6482F4;
        padding: 3%;
    }



    .button-login{
        width: 80%;
        height: 8vh;
        border-radius: 20px;
        font-size:100%;  
    }

    .line{
        display: none;
    }
    .lines{
        display: none;
    }

    .login-user{
        margin-bottom: 1%;
    }

    .login-google{
        display:flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;

    }
   
    .img-google{
        width: 7%;
        padding-top: -5 ;  
    }
    .googleButton{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-size:100% ;
        color: #6482F4;

    }

    .login-newAccount{
        display:flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;
        padding-top: 5%;
    }

    .terms{
        margin-top: 3%;
        font-size: 70%;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }

    .link-newAccount{
        font-size: 70%;
        color: #6482F4 ;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        }

   

       

   

    /* register */
.title-register{
    gap:65%;
}
.register-section{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    grid:6%;
}
.img-hanging{
    width: 50%;
    margin-bottom:50%;
    margin-top:5%;
    margin-left:10%;
    

}
.white-section{
    position:relative;
    margin-top:5%;
    margin-left:10%;
    width:50%;
    height:30vw;
    justify-content:baseline;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 80px;
    margin-bottom: 60%;
    border:none;
    padding:2%;
    padding-right:7%;

  

}
.registerInput{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35vw;
    height: 6vh;
    border-radius: 70px;
    margin-top: 5%;
    font-size:300%;
    text-align: left;

} 
.buttonRegister{
    width: 35vw;
    height: 7vh;
    border: none;
    margin-top:5%;
    font-size:400%;
    transform: scale(1);
    margin-left:7%;
}
.buttonRegister:hover{
    width: 87vw;
    height: 7vh;
}
.menu-register{
    width:3vw;
    margin-left:98%;

}







  
}


