
/*General*/

@media (min-width: 1200px){
    .title{
        font-family: 'Bowlby One SC', cursive;
        font-size: 5vw;
        margin-left: 3%;
        margin-top: 2%;   
    }

    body{
         background-image:url("../imagenes/macbook.png");
         background-size: cover;
    }

    .menu-icon{
        width: 10%;
        margin-top: -10%;
    }
}

/* Página de bienvenida */

@media (min-width: 1200px){
    .title{
        font-family: 'Bowlby One SC', cursive;
        font-size: 5vw;
        margin-left: 3%;
        margin-top: 2%;
        
    }
    .welcome{
        display: flex;
        flex-direction: row;
        padding: 5%;
        gap: 2%;
     }

    .img-section{
        width: 100%;
        margin-left: -10%;
        margin-top: -5%;

    }
    
    .img-dancing {
        margin-top: 10%;
        width: 70%;
        padding-left: 5%; 
        width: 75%;     
    }

    .paragraph{
        color:rgba(255, 255, 255, 1);
        width: 100%;
        font-size:250%;
    }

    
    .welcome-section {
        margin-top: 10%;
        text-align: center;
        justify-content:center;
        align-items: center; 
        width: 50%;
        gap:10%; 
        font-size:100%;
        margin-right: 4%;
        
    } 

    #get-into{
       
        width:30vw;
        height:8vh;
        font-size:100%;
        margin-top:20%; 
    }
  
}


/* Página de login */

 @media screen and (min-width:1200){

    .loginContainer{
        display: flex;
        flex-direction: row;
        padding: 5%;
        gap: 2%;
    }

    .img-section{
        width: 100%;
        margin-left: -10%;
        margin-top: -5%;

    }
    
    .img-skating {
        margin-top: 10%;
        width: 70%;
        padding-left: 5%; 
        width:50%;     
    }


} 


/* Página de register

 @media screen and (min-width:1200){

   



} */
