
.wallHeaderContainer{
    display:flex;
    flex-direction: row;
    gap:80%;
    height: 15%;

}

.wallTitle{
    font-size: 170%;
    margin-top:5%;
}
.exitIcon{
    height:40%;
    margin-top: 35%;
}


.profilePic{
    width:42%;
    margin-top:25%;
    margin-left:-35%;
    
}
.postAndWall{
    display:flex;
    flex-direction: column;

}
.publishContainer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:5%;
    width:178%;
    height: 16vh;
    margin: 5% 10% 0 10%;
    margin-top:5%;
    background-color:rgba(255, 226, 192, 1);
    border:none;
    border-radius:10px;
}
.questionP{
    color:rgba(100, 130, 244, 1);
    font-size:80%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-left:-50%;
    margin-top:-2%;
}

.postText{
    border:none;
    border-radius:8px;
    align-self: center;
    height: 40%;
    width:90%;
    margin-top:2%;
    text-align: center;
}

.publish{
    width: 20%;
    height: 20%;
    margin-left:75%;
    border:none;
    border-radius:5px;
    background-color:rgba(100, 130, 244, 1);
    color:white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: small;


}