.wallHeaderContainer{
    display:flex;
    flex-direction: row;
    gap:70%;
    height: 15%;

}

.wallTitle{
    font-size: 170%;
    margin-top:5%;
}
.exitIcon{
    height:40%;
    margin-top: 35%;
}

.profilePic{
    width:45%;
    margin-left:-35%
}
.publishContainer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:5%;
    width:178%;
    height: 18%;
    margin:10%;
    margin-top:5%;
    background-color:rgba(255, 226, 192, 1);
    border:none;
    border-radius:10px;
}
.questionP{
    color:rgba(100, 130, 244, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
}