body{
    text-align: center;
    background-image:url("../imagenes/Register.png");
    display: flex;
    width:100vw;
    
}



.start-section {
    display:flex;
    flex-wrap: wrap;
}


.img-dancing {
    margin-top: 15%;
    width:100%;  
}

.welcome{
    display: flex;
    flex-direction: column;

}

.welcome-section {
    margin-top: 10%;
    position:relative;
    justify-content:center;
    align-items: center;
    font-size:230%;
    font-family: 'Abril Fatface', cursive;
    
}

.paragraph{
    color:rgba(255, 255, 255, 1);
}
#get-into{
    align-items: center;
    justify-content: center;
    width:90vw;
    height:8vh;
    border-radius: 95px;
    border:none;
    background-color:rgba(100, 130, 244, 1);
    font-size:190%;
    margin-top:20%;
    color:rgba(255, 255, 255, 1);
    transform:scale(1);
    font-family: Poppins;
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 137.19%;
}

h1{
    font-size:190%;
    color:white;
    margin-left:5%;
}

.title-menu{
    display:flex;
    font-size: 380%;
    flex-direction:row;
    gap:35%;
    margin: auto;
    text-align: justify;
}

.menu-icon{
    flex-direction: row;
    width:14vw;
    padding:2%;
    margin:5% auto;
}

.menu-icon:hover {
    color: antiquewhite;
}
/* #get-into:hover{
    width:87vw;
    height: 7vh;

    
}
#get-into:active{
    transform: scale(.97);
    transition:transform .5s;
   
} */